/* #region Footer */
footer {
    color: #000;
    background-color: var(--default-background-black);
    padding-top: 3.75rem;
    padding-bottom: 1.25rem;
}
.footerContainer{
    margin-left: auto;
    margin-right: auto;
    max-width: 940px;
    flex-direction: column;
    align-items: center;
    font-family: Inter, sans-serif;
    display: flex;
}
.footer-links{
    margin-bottom: 10px;
    color: #e2e2e2;
    text-align: center;
    margin-top: .6rem;
    font-size: .75rem;
    font-weight: 300;
}
.link-footer{
    line-height: 20px;
    font-family: Inter, sans-serif;
    text-align: center;
    font-size: .75rem;
    font-weight: 300;
    box-sizing: border-box;
    background-color: transparent;
    color: #d4d4d4;
    text-decoration: none;
}
.footer-text{
    line-height: 20px;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    margin-bottom: 10px;
    color: #d4d4d4;
    text-align: center;
    margin-top: .75rem;
    font-size: .75rem;
    font-weight: 300;
}
/* #endregion */
