/* #region Gurus */
#guruSection{
    background-color: #fff;
    color: #212529;
    padding-top: 140px;
    padding-bottom: 25px;
}
.gurusHeaderContainer{
    max-width: 90vw;
    grid-column-gap: 1.5rem;
    grid-row-gap: .3125rem;
    text-align: center;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-bottom: 0;
    position: relative;
}
.gurusCopyContainer{
    padding: 4rem 2rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

}
.gurusHeading{
    text-align: center;
    margin: 0.67em 0;
    font-weight: bold;
    width: 100%;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Oswald, sans-serif;
    font-size: 51px;
    line-height: 54px;
    color: #212529;
}
.gurusHeading strong{
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-size: 51px;
    line-height: 54px;
    color: #212529;
    box-sizing: border-box;
    font-weight: bold;
}
#guruButtonContainer{
    max-width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 769px){
    #guruSection{
        padding-top:90px;
        padding-bottom: 25px;
    }
    .gurusHeading strong{
        font-size: 40px;
        line-height: 30%;
    }
}
@media screen and (max-width: 489px){
    .gurusHeading strong{
        font-size: 28px;
        line-height: 0;
    }
}
/* #endregion */

/* #region Why Cheap?*/
.website{
    margin-top: 30px; 
    width: 60vw; 
    max-width: 700px;
}

@media screen and (max-width: 489px){
    .website{
        width: 80vw;
    }
    .highlight{
        font-size: 20px;
    }
}
#whyCheapSection{
    background-color: #fff;
    padding-top: 25px;
    }

.transitionWhiteToWhite{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(#fff, #2c2a2a, #fff);
    filter: blur(12px);
}
.gurusHeading.why{
    max-width: 800px;
}
/* #endregion */
/* #region Gurus */
#guruSection{
    background-color: #fff;
    color: #212529;
    padding-top: 140px;
    padding-bottom: 25px;
}
.gurusHeaderContainer{
    max-width: 90vw;
    grid-column-gap: 1.5rem;
    grid-row-gap: .3125rem;
    text-align: center;
    flex-direction: column;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    margin-bottom: 0;
    position: relative;
}
.gurusCopyContainer{
    padding: 4rem 2rem;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;

}
.gurusHeading{
    text-align: center;
    margin: 0.67em 0;
    font-weight: bold;
    width: 100%;
    letter-spacing: .5px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: Oswald, sans-serif;
    font-size: 51px;
    line-height: 54px;
    color: #212529;
}
.gurusHeading strong{
    text-align: center;
    letter-spacing: .5px;
    text-transform: uppercase;
    font-family: Oswald, sans-serif;
    font-size: 51px;
    line-height: 54px;
    color: #212529;
    box-sizing: border-box;
    font-weight: bold;
}
#guruButtonContainer{
    max-width: 400px;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 769px){
    #guruSection{
        padding-top:90px;
        padding-bottom: 25px;
    }
    .gurusHeading strong{
        font-size: 40px;
        line-height: 30%;
    }
}
@media screen and (max-width: 489px){
    .gurusHeading strong{
        font-size: 28px;
        line-height: 0;
    }
}
/* #endregion */

/* #region Why Cheap?*/
.website{
    margin-top: 30px; 
    width: 60vw; 
    max-width: 700px;
}

@media screen and (max-width: 489px){
    .website{
        width: 80vw;
    }
    .highlight{
        font-size: 20px;
    }
}
#whyCheapSection{
    background-color: #fff;
    padding-top: 25px;
    }

.transitionWhiteToWhite{
    width: 100%;
    height: 250px;
    background-image: linear-gradient(#fff, #2c2a2a, #fff);
    filter: blur(12px);
}
.gurusHeading.why{
    max-width: 800px;
}
/* #endregion */
