.privacy-container{
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    width: 100%;
    flex-direction: column;
    background-color: #0c1018;
    justify-content: center;
    align-items: flex-start;
    display: flex;
    position: relative;
    height: auto;
    background-image: none;
    padding-top: 15vh;
    padding-bottom: 60px;
}
.privacy-inside{
    font-size: 14px;
    line-height: 20px;
    color: #333;
    font-family: Inter, sans-serif;
    box-sizing: border-box;
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.privacy-heading{
    box-sizing: border-box;
    margin: 0.67em 0;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 10vh;
    text-transform: capitalize;
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(164deg, white, rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    background-clip: text;
    padding-right: 0;
    font-size: 6vh;
}
.privacy-paragraph{
    box-sizing: border-box;
    margin-top: 0;
    color: #6b6b6b;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 30px;
    font-family: Montserrat, sans-serif;
}

@media screen and (max-width: 991px) {
    .privacy-heading {
        text-align: center;
        padding-right: 0;
        font-size: 7vw;
        line-height: 6vh;
    }
}
@media screen and (max-width: 479px) {
    .privacy-heading {
        text-align: left;
        font-size: 42px;
        line-height: 56px;
    }
}