#salesStatementsGridSub{
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: rgb(51, 51, 51);
    box-sizing: border-box;
    grid-auto-columns: 1fr;
    display: grid;
    width: 100%;
    column-gap: 0px;
    row-gap: 0px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0px;
    max-width: 1070.4px;
    margin-left: auto;
    margin-right: auto;
}

#macImage{
    width: 50vw; 
    z-index: 3; 
    margin-left: auto; 
    margin-right: auto;
}

@media screen and (min-width: 768px) {
    #modalFooter{
        display: block  !important;
    }

}
@media screen and (max-width: 768px) {
    #salesStatementsGridSub{
        grid-template-columns: 1fr 1fr;
    }
    #macImage{
        width: 70vw; 
    }
}
@media screen and (max-width: 480px) {
    #modalBody{
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
    }
    #macImage{
        width: 80vw; 
    }
}